language: node_js
node_js:
  - "4"
  - "5"
env:
  global:
    - CXX=g++-4.8
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.8
script:
  - npm run eslint
  - npm run test
branches:
  only:
    - master
