version: 2.1

orbs:
  node: circleci/node@6.3.0

save: &save
  save_cache:
    key: code-{{ .Revision }}
    paths:
      - .
      - '~/.npm-global'

restore: &restore
  restore_cache:
    key: code-{{ .Revision }}

jobs:
  lint:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - node/install:
          node-version: '20'
      - run: npm i
      - run: cd example && npm i
      - run: npm run lint
  test:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - node/install:
          node-version: '20'
      - run: npm i
      - run: npm test

workflows:
  version: 2
  main_workflow:
    jobs:
      - lint
      - test
